/*
 * Globals
 */

  body {
    font-family: 'Bitter', sans-serif !important;
  }


/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
}

h1 {
  letter-spacing: 0.5em;
}



/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: url("https://picsum.photos/1920/1080") no-repeat;
  background-size: cover;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 75%;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 2.5rem 5rem 0.5rem 5rem;
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 2;
  letter-spacing: 0.1em;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;

}



/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.players {
  align-content: center;
}

.card{
  font-family: 'Montserrat', sans-serif !important;
  color: black;
  min-width: 10em;
  max-width: 25em;
  margin: 1em;
}

.cockpit {
  margin: 1em;
}

.btn{
font-family: 'Montserrat', sans-serif !important;
}


.brand {
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 0.5em;
 margin: 0 !important;
 padding: 0 !important;
}

.headdy {
  font-size: 10px !important;
  padding: 0.5rem 5rem 0.5rem 5rem;
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 2;
  letter-spacing: 0.1em;
}

.gameactive {
  font-size: 10px !important;
  padding: 0.5rem 5rem 0.5rem 5rem;
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 2;
  letter-spacing: 0.1em;
}

.subby {
  line-height: 1;
}

h2 {
  letter-spacing: 0.1em;
}

.submit{
  max-width: 10em;
}
