{{#if post}}
Alright {{p1name}} and {{p2name}}, click PLAY NOw!!!!1111 to start.<br>
<a href="/game">PLAY NOw!!!!1111</a>
{{/if}}

{{#unless post}}
<h1>Play now!!!</h1>

<h1>enTer your HaXX000\rS names</h1>

<form action="/" method="post">
    <h2 class="">Player 1 Name</h2>
    <input type="text" name="p1name" class=""><br>
    <h2 class="">Player 2 Name</h2>
    <input type="text" name="p2name" class=""><br>
    <button type="submit" class="">Submit</button>
</form>
{{/unless}}